In [1]:
# Give 4 data types
boolean
string
integer
float

NameError: name 'boolean' is not defined

In [ ]:
# Give 5 examples of an integer 
5
9
3
4
10

In [ ]:
# Give 5 examples of a Boolean
True
False
Not True
Not False

In [ ]:
# Give 5 examples of a Float
.005
.5
.20
-.8
.23

In [ ]:
# Give 5 examples of a String
"Hello"
"hi"
"not now"
"bye"
"trying"

In [3]:
#Find the Data type of all 5 data type
print(type(5))
print(type("hello"))
print(type(True))
print(type(.4))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [6]:
#Print 5 different equations.  
a = 4 + 1
print(a)

result = 4 * 4
print(result)

solution = 5/2
print(solution)

b = 7 - 3
print(b)

answer = 4 < 5 
print(answer)

5
16
2.5
4
True

In [ ]:
#What is the index of a list?

A number labeling each element in order.

In [ ]:
What is a variable? 
Something that can be assigned a number or something else.

In [ ]:
# Use input function for the following questions and print a response … Collect the user’s name

In [7]:
#Collect the user’s name

Name = input("What is your name?")

What is your name? sam

In [9]:
#Find out their favorite color

Fav_Color = input("So, what is your favorite color?")

So, what is your favorite color? blue

In [10]:
#Get their email address

users_email = input("Please provide your email address.")

Please provide your email address. sam@yahoo.com

In [13]:
#Did they pay taxes in 2023?

taxes_paid = input("Did you pay your taxes in 22023?")

Did you pay your taxes in 22023? yes

In [14]:
#Will they subscribe to email list?

Subscription_request = input("Would you like to subscribe to our newsletter?")

Would you like to subscribe to our newsletter? no thanks

In [18]:
#Use F-string function to respond to their input in the above questions.

print(f"Hello, {Name} it's nice to meet you")
print(f"{Fav_Color} is your favorite color? Mine too!")
print(f"Thank you for providing us with your email at {users_email}.")

Hello, sam it's nice to meet you
blue is your favorite color? Mine too!
Thank you for providing us with your email at sam@yahoo.com.

In [20]:
print(f"I see that you said {taxes_paid},let us know if we can help you with this years taxes")
print(f"You replied {Subscription_request} to our subscription request")

I see that you said yes,let us know if we can help you with this years taxes
You replied no thanks to our subscription request

In [26]:
#Identify the data type

name = "Tommy"
age =  41
weight = 140.5 
college_graduate = True

print(type(name))
print(type(age))
print(type(weight))
print(type(college_graduate))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [44]:
#change the data type by type cast

name = "Tommy"
age =  41
weight = 140.5
college_graduate = True


age = float(age)
print(age)

weight = int(weight)
print(weight)

college_graduate = str(college_graduate)
print(college_graduate)

41.0
140
True

In [43]:
#Give 2 exp of an expression

In [ ]:
#Give 2 exp of a condition

In [39]:
#Give 3 examples of If, else, else-if conditional statements. 
age = input("How old are you?")
age = int(age)
if age < 18:
    print("sorry you are not old enough")

elif age == 18:
    print:("You just made the age limit, come on in")

else:
    print("Welcome in.")

How old are you? 12

sorry you are not old enough

In [52]:
# Write get_age function here

def get_age ():
    age = input("Hi, how old are you?")


get_age()

Hi, how old are you? 2

In [47]:
# Define these 4 different functions
    
     Def get_name
     Def get_height
     Def get_fav_color
     Def hometown

IndentationError: unexpected indent (1172841393.py, line 3)

In [ ]:
# Ask the user for 3 numbers, add them all together & print out the sum. 

num1 = input("Pick a number")
num2 = input("pick another number") 
num3 = input("pick a third number")
final_number = (num1 + num2 + num3)
print(final_number)

In [ ]:
# Create a list and print the first item on the list. 

days_of_attendance = [12, 9, 7, 11]
print(days_of_attendance(0))

In [ ]:
#print the 2nd item
print(days_of_attendance(1))

In [ ]:
#print the 3rd item on the list
print(days_of_attendance(2))

In [ ]:
#Append an additional item to the list
print (days_of_attendance).append (4)

In [ ]:
#print the appended item

In [ ]:
#remove the last item from the list

In [ ]:
#write a function that defines a parameter

In [ ]:
# print the length of the following strings

mississippi
considering
alaska
enterprise
micro-manage

In [ ]:
#print loop

In [55]:
#Get three numbers from users and add them together
def get_num(num1, num2, num3):
    solution = num1 + num2 + num3
    return solution

get_num(6, 2, 2)

10

In [53]:
def add_three_nums(num1, num2, num3):
    calculated_num = num1 + num2 + num3
    return solution

int(calculated_num(3,5,2))

10

In [57]:
calculated_num = add_three_nums(3, 5, 2)

print(f"The result is:{calculated_num}.")

print(f"This time, the result is {add_three_nums(1, 1, 1)}")

print(type(add_three_nums(1, 2, 2)))

The result is:10.
This time, the result is 3
<class 'int'>

In [58]:
for color in ["red", "blue", "green", "purple"]:
    print(f"Right now, the variable name color equals {color}.")

Right now, the variable name color equals red.
Right now, the variable name color equals blue.
Right now, the variable name color equals green.
Right now, the variable name color equals purple.

In [60]:
for dogs in ["cocker spaniel", "pom", "doberman", "great dane"]:
    print(f" In my lifetime I have owned a {dogs}.")

 In my lifetime I have owned a cocker spaniel.
 In my lifetime I have owned a pom.
 In my lifetime I have owned a doberman.
 In my lifetime I have owned a great dane.

In [61]:
for char in "Hello, Class.":
    print(f"The letter in this statement is {char}.")

The letter in this statement is H.
The letter in this statement is e.
The letter in this statement is l.
The letter in this statement is l.
The letter in this statement is o.
The letter in this statement is ,.
The letter in this statement is  .
The letter in this statement is C.
The letter in this statement is l.
The letter in this statement is a.
The letter in this statement is s.
The letter in this statement is s.
The letter in this statement is ..

In [64]:
for cousin_age in [12, 15, 28, 39]:
    print(f" One cousin is {cousin_age} years old.")
    my_age = 24
    if cousin_age < my_age:
        print("They are younger than me")
    else:
        print("They are older than me")
    print()

 One cousin is 12 years old.
They are younger than me

 One cousin is 15 years old.
They are younger than me

 One cousin is 28 years old.
They are older than me

 One cousin is 39 years old.
They are older than me

In [73]:
cousins = [["Tom", 4], ["Billy", 9], ["Phil", 10]]
  #  print(f"Cousin {cousins} is here.")
for name, age in cousins:
    print(f"{name} is {age} years old.")

Tom is 4 years old.
Billy is 9 years old.
Phil is 10 years old.

In [74]:
#Loop through numbers starting from 0 and ending before 9

for num in range(9):
    print(num)

0
1
2
3
4
5
6
7
8

In [76]:
states = ["Georgia"], ["Florida"], ["California"]
print(states[2])

['California']

In [78]:
print(["Georgia", "Florida", "California"][1])

Florida